spring:
  datasource:
    url: jdbc:mysql://localhost:3307/chatflow?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000
      pool-name: HikariPool
  mail:
    host: smtp.qq.com
    username: 1523307407@qq.com
    password: lehymjjslqjaidci
    port: 465
    protocol: smtps
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 3000


chatflow:
  jwt:
    secret: 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz+/
    expiration-minutes: 30
  security:
    whitelist:
      - /user/login
      - /user/register
      - /user/getVerfCode
